body {
  background-image: url("images/front_page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

form,
p,
h2 {
  color: white;
}

div {
  display: flex;
  flex-direction: column;
}
