<html>
  <head></head>
  <body>
        <h1>Welcome to <%= hostname %>'s Party</h1>

    <p>Party ID: <%= party.party_id %></p>
    <p>Party Location: <%= party.party_location %></p>

    <form action="">
      Your email:
      <input type="email">
    </form>
  </body>
</html>
