<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <title>New Party</title>
  <meta name="description" content="Forget pulling names out of a hat and create your Secret Santa party via the web!" />
</head>

<body>

  <div class="container-new-party">

    <div class="col-12 cont-main-newparty">
      <div>
        <h1>New Party</h1>
      </div>

      <form action="/party/new_party" onsubmit="return CompareDate()" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" aria-label="first name" placeholder="First Name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="host_surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" aria-label="surname" placeholder="Surname" required>
          </div>
        </div>
        <div class="form-group">
          <label for="input_address">Email Address</label>
          <input type="email" class="form-control" id="email_address" name="email_address" aria-label="email address" placeholder="email@example.co.uk" required>
        </div>
        <div class="form-group">
          <label for="party_location">Party Location</label>
          <input type="text" class="form-control" id="party_location" name="party_location" aria-label="party location" placeholder="eg. The Pub" required>
        </div>
        <div class="form-row"> 
          <div class="form-group col-md-3">
            <label for="party_date">Party Date</label>
            <input type="date" class="form-control" id="party_date" name="party_date" aria-label="party date" placeholder="DD/MM/YYYY" required>
          </div>
          <div class="form-group col-md-3">
            <label for="party_start_time">Party Start Time</label>
            <input type="time" class="form-control" id="party_start_time" name="party_start_time" aria-label="party start time" placeholder="20:00" required>
          </div>
          <div class="form-group col-md-3">
            <label for="reg_closing_date">Closing Date</label>
            <input type="date" class="form-control" id="reg_closing_date" name="reg_closing_date" aria-label="regitration closing date" placeholder="DD/MM/YYYY" required>
          </div>
          <div class="form-group col-md-3">
            <label for="reg_closing_time">Closing Time</label>
            <input type="time" class="form-control" id="reg_closing_time" name="reg_closing_time" aria-label="registration closing time" placeholder="20:00" required>
          </div>
        </div>
        <div class='form-row'>
          <div class="form-group col-md-3">
            <label for="max_cost">Max Present Cost (£)</label>
            <input type="number" class="form-control" id="max_cost" name="max_cost" aria-label="maximum present cost" placeholder="eg. 5" required>
          </div>
        </div>
        <div class="btn-new-party">
        <button type="submit" class="btn btn-success btn-lg">Create Party</button>
        </div>
      </form>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script type="text/javascript" language="javascript">
    function CompareDate() {
      //Note: 00 is month i.e. January
      var party_date = Date.parse(document.getElementById("party_date").value);
      var closing_date = Date.parse(document.getElementById("reg_closing_date").value);
      var date_now = Date.now()
      if (party_date == closing_date) {
        alert("The closing date and party date cannot be the same date");
        return false;
      }

      else if (date_now > party_date) {
        alert("The party date must be after today's date");
        return false;
      }

      else if (date_now > closing_date) {
        alert("The closing date must be after today's date");
        return false;
      }

      else if (closing_date > party_date) {
        alert("The party date must be after the closing date");
        return false;
      }

      else {
        return true;
      }
    }
    CompareDate();
  </script>
  <!-- Snowstorm JavaScript -->
  <script src="/snowstorm-min.js"></script>
</body>

</html>