body {
  background-color: brown;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 5rem;
  color: white;
}

form,
p {
  color: white;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.main-button {
  margin: 20px 0;
}

@media only screen and (max-width: 529px) {
  .main-button {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.btn-main,
.btn-copy {
  margin: 10px 20px;
  padding: 10px 33px;
}

.btn-new-party {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-main {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container,
.container-new-party {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.unique_code {
  width: 350px;
  text-align: center;
}
